html, body {
  margin: 0;
  box-sizing: border-box;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: white;
  padding: 12px;
}

.contain {
  max-width: 800px;
  margin: auto;
  }

.menu-items a {
  padding-right: 12px;
  text-decoration: none;
  font-size: 1.4em;
  color: black;
  text-decoration: underline;
}

.main {
  min-height: 100vh;
  background: blue;
}

section {
  text-align: center;
  padding-top: 20px;
}

section h1 {
  font-size: 4em;

}

.but-contact {
  border: 5px;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: white;
  border: 2px solid #4CAF50;
  transition-duration: 0.4s;
}

.but-contact:hover {
  background-color: green;
  color: white;
}

.call button {
  padding: 14px 20px;
  border-radius: 4px;
  background-color: white;
  border: 2px solid #4CAF50;
  transition-duration: 0.4s;
}
