<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Iniobong Benson</title>
    <link rel="stylesheet" href="./css/main.css">
    <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

<style>
  .contain {
    max-width: 500px;
  margin: auto;
  }
</style>

  </head>
  <body>
    <header>
      <div class="head">
        <h3>Iniobong</h3>
        <div class="menu-items">
          <a href="#">Home</a>
          <a href="#">About</a>
          <a href="#">Skills</a>
          <a href="#">Portfolio</a>
          <!--<a href="#">Blog & Podcast</a> -->
          <a href="#"><button class="but-contact">Contact</button></a>
        </div>

      </div>
    </header>
    <section class="contain">
      <h2>Hello, World</h2>
      <h1>I am Iniobong Benson</h1>
      <p>GIS Analyst| Surveyor | Fullstack Developer

      <div class="call">
        <button>Hire Me</button>
        <button>About Me</button>
      </div>
    </section>
  </body>
</html>
